/* styles for all screen sizes */
.footer, .footer-mobile {
  background-image: linear-gradient(to top right, rgba(0,0,0,1), rgba(0,0,0,0.6));
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 2px red, -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  box-shadow: 0 -6px 8px rgba(0,0,0,0.7);
}

.footer ul a, .footer-mobile ul a {
  color: white;
  text-decoration: underline;
}

/* styles for small screens *480px and smaller */
@media screen and (max-width: 480px) {

  /* removing the larger sized div from being displayed in mobile */
  .footer {
    display: none;
  }

  /* Setting all the containers to flex */
  .footer-mobile {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .footer-mobile footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .contact-mobile {
    display: flex;
    height: 65%;
    justify-content: center;
    align-items: center;
  }

  .contact-mobile address {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .contact-mobile address ul {
    display: flex;
    flex-direction: column;
  }

  .contact-mobile ul li {
    display: flex;
    flex-direction: column;
  }

  .copyright-mobile {
    display: flex;
    height: 35%;
    justify-content: center;
    align-items: center;
  }

  .copyright-mobile p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 0 10px 0;
  }
}

/* styles for medium screens from 481px to 799px */
@media screen and (min-width: 481px) {

  /* removing the mobile style div from larger displays */
   .footer-mobile {
    display: none;
  }
}

/* styles for large screens 800px and higher */
@media screen and (min-width: 800px) {


}

