/* styles for small screens *480px and smaller */
@media screen and (max-width: 480px) {

  /* removing the larger sized div from being displayed in mobile */
  .footer {
    display: none;
  }

  /* Setting all the containers to flex */
  .footer-mobile {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .footer-mobile footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .contact-mobile {
    display: flex;
    height: 65%;
    justify-content: center;
    align-items: center;
  }

  .contact-mobile address {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .contact-mobile address ul {
    display: flex;
    flex-direction: column;
  }

   .copyright-mobile {
    display: flex;
    height: 35%;
    justify-content: center;
    align-items: center;
  }

  .copyright-mobile p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 0 10px 0;
  }
}

/* styles for medium screens from 481px to 800px */
@media screen and (min-width: 481px) and (max-width: 800px) {

  /* removing the mobile style div from larger displays */
   .footer-mobile {
    display: none;
  }

  /* Setting all the containers to flex */
  .footer {
    width: 100%;
    height: 100%;
  }

  .footer footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    height: 100%;
  }

  .contact address {
    padding: 0 10px 0 10px;
  }

  .copyright p {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 70%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .contact, .copyright, #attribute {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    max-width: 33%;
  }
}

/* styles for large screens 801px and higher */
@media screen and (min-width: 801px) {


}

