/* Header styles for all screen sizes */
.header {
  background-image: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0.7));
  text-shadow: 3px 1px 12px red, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
  box-shadow: 0 6px 8px gray;
}

.nav-links ul a {
  font-weight: 500;
  text-shadow: 3px 1px 8px red, -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  transition: 0.8s;
} 

/* Styling for small devices 425px and smaller */
@media screen and (max-width: 425px) {

  
}

/* Styling for medium screens from 426px to 800px wide */
@media screen and (min-width: 426px) {

  
}

/* Styling for large screens */
@media screen and (min-width: 850px) {

  

  /* navigation transition styles for hovered links */ 
  .nav-links ul a:hover, .nav-links ul a:active {
    color: red;
    text-shadow: 3px 1px 10px white, -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    font-weight: 700;
    font-size: 1.4em;
  }
} 