/* Header styles for all screen sizes */
.header {
  background-image: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0.7));
  text-shadow: 3px 1px 12px red, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
  box-shadow: 0 6px 8px rgba(0,0,0,0.7);
}

.nav-links ul a {
  font-weight: 500;
  text-shadow: 3px 1px 8px red, -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  transition: 0.8s;
} 

/* Styling for small devices 480px and smaller */
@media screen and (max-width: 480px) {

  /* Header styling and flex container */
  .header {
    display: flex;
    flex-direction: column;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .logo header h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;    
  }

  /* Nav-link container layuot */
  .nav-links {
    display: flex;
    height: 50%;
  }

  .nav-links nav {
    width: 100%;
    display: flex;
  }

  .nav-links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-links ul li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* Styling for medium screens from 481px to 799px wide */
@media screen and (min-width: 481px) {

  
}

/* Styling for large screens 800px and larger */
@media screen and (min-width: 800px) {  

  /* navigation transition styles for hovered links */ 
  .nav-links ul a:hover, .nav-links ul a:active {
    color: red;
    text-shadow: 3px 1px 10px white, -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    font-weight: 700;
    font-size: 1.4em;
  }
} 