/* Setting styles for mobile screens */
@media screen and (max-width: 480px) {

  /* Setting the grid layout */
  .page-content {
    display: grid;
    width: 100%;
    margin: auto;
    justify-content: center;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 65vh 15vh;
    grid-gap: 1em;
    grid-template-areas: 
    "hd"
    "con"
    "ft";
  }

  .header {
    grid-area: hd;
  }

  .main-content {
    grid-area: con;
  }

  .footer-mobile {
    grid-area: ft;
  }

}