/* Importing the secondary style sheets into the main stylesheet */
@import "main-page-mobile.css";
@import "blog-page-mobile.css";
@import "main-page-tablet.css";
@import "blog-page-tablet.css";
@import "main-page.css";
@import "blog-page.css"; 
@import "header.css";
@import "footer.css";


/* Global styles */
html {
  background: rgb(206, 205, 200);
}

body {
  margin: 0;
  width: 100%;
}

/* global font styles */
h1, h2, h2, h4, h5, h6 {
  font-family: 'Noto Sans SC', sans-serif;
}

p, li, article, figcaption {
  font-family: 'Merriweather', serif;
}

/* global list styles */
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

/* Header styling for all screen sizes */
.main-content, .blog-content {
  background-image: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0.7));
  text-shadow: 3px 1px 12px red, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
  font-weight: 500;
}

/* Header styles for all screen sizes */
.header {
  background-image: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0.7));
  text-shadow: 3px 1px 12px red, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
  box-shadow: 0 6px 8px rgba(0,0,0,0.7);
}

.nav-links ul a {
  font-weight: 500;
  text-shadow: 3px 1px 8px red, -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  transition: 0.8s;
}

/* footer styles for all screen sizes */
.footer, .footer-mobile {
  background-image: linear-gradient(to top right, rgba(0,0,0,1), rgba(0,0,0,0.6));
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 2px red, -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  box-shadow: 0 -6px 8px rgba(0,0,0,0.7);
}

.footer ul a, .footer-mobile ul a, #attribute a {
  color: white;
  text-decoration: underline;
}