/* Importing the secondary style sheets into the main stylesheet */
@import "main-page.css";
@import "blog-page.css"; 
@import "header.css";
@import "footer.css";

/* Global styles */
html {
  background: rgb(206, 205, 200);
}

body {
  margin: 0;
}

/* global font styles */
h1, h2, h2, h4, h5, h6 {
  font-family: 'Noto Sans SC', sans-serif;
}

p, li, article {
  font-family: 'Merriweather', serif;
}

/* global list styles */
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}